@font-face {
	font-family: 'Roboto Flex';
	src: url('RobotoFlex-VF.woff2') format('woff2') tech('variations'),
	     url('RobotoFlex-VF.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Flex', 'Calibri', 'Arial';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 70px;
}

header {
    background-color: rgb(254, 254, 254);
    padding: 30px 0px;
    color: rgb(33, 98, 151);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1rem;
    box-shadow: 0 3px 8px rgb(227, 227, 227);
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icon svg {
    height: 50px;
    width: 50px;
    fill: rgb(33, 98, 151);
    vertical-align: middle;
}

main {
    background-color: rgb(237, 237, 237);
    height: 100%;
    flex: 1;
    padding: 30px 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-add-book {
    background-color: rgb(33, 98, 151);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color:rgb(254, 254, 254);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-add-book:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    cursor: pointer;
} 

.add-icon {
    display: flex;
}

.add-icon svg {
    height: 28px;
    width: 28px;
    fill: rgb(254, 254, 254);
    align-self: center;
}

#book-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
    justify-content: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 254, 254);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgb(227, 227, 227);
    gap: 10px;
}

.book-card-buttons {
    display: flex;
    width: 100%;
    justify-content: stretch;
    padding: 20px 0px 0px 0px;
    height: 50px;
    gap: 20px;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.book-card-buttons .read-toggle {
    flex: 3;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: inherit;
}

.not-read {
    background-color:rgb(231, 178, 170);
}

.read {
    background-color:rgb(191, 222, 183);
}

.book-card-buttons .delete {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
}

.book-card-buttons .delete-img {
    height: 30px;
    width: 25px;
}

.book-card .book-title {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.book-card .book-author, .book-pages {
    font-size: 1.2rem;
    
}

.form-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    background-color: rgba(0,0,0,0.75);
}
  
.modal {
    margin: auto;
    width: 25%;
    min-width: 20rem;
    max-width: 30rem;
    background-color: white;
    border-radius: 1.5rem;
}
  
.modal-header,
.modal-content {
    padding: 1.5rem;
}

.form-popup:target {
    opacity: 1;
    pointer-events: all;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 4px;
}

input[type=text], input[type=number] {
    padding: 8px 16px;
    font-family: inherit;
    min-width: 15rem;
    height: 30px;
    font-size: 1.2rem;
    outline: none;
    border: solid 1px rgb(159, 166, 179);
    border-radius: 5px;
}

input:focus {
    border: 1px solid rgb(34, 105, 211);
    box-shadow: 0px 2px 4px rgb(199, 199, 199);
}

input[type="submit"] {
    background-color: rgb(33, 98, 151);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color:rgb(254, 254, 254);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;
}

input[type="submit"]:hover, .close:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    cursor: pointer;
}

.close-container {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
}

.close {    
    background-color:rgb(227, 227, 227);
    padding: 5px 15px;
    margin: 20px 20px 0px 0px;
    border-radius: 5px;
    color: #000000;
    font-weight: 500;
}

button.close {
    background-color: none;
    padding: 3px 3px;
    border-radius: 8px;
    border: none;
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    width: 40px;
}

.form-buttons {
    display: flex;
    gap: 30px;
}


form .row {
    margin-bottom: 16px;
}

.form-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.read-question {
    font-size: 1.2rem;
    font-weight: 400;
}

input.read {
    width: 1.2rem;
    height: 1.2rem;
}

.checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer {
    flex: 0 0 auto;
    background-color: rgb(237, 237, 237);
    text-align: center;
    padding: 30px 0px 10px 0px;
}
